<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <!--参数-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath*:/spring-config.xml
	</param-value>
  </context-param>

  <!--监听-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>406</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>407</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>408</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>409</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>411</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>412</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>413</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>414</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>415</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>416</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>417</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>501</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
  <error-page>
    <error-code>505</error-code>
    <location>/WEB-INF/views/error.ftl</location>
  </error-page>
</web-app>
